$fullSize: 100%;
$globalFont:IRANSans;

$white:#fff;
$black:#000;

$defaultRem: 1rem;

$mediumWidth: 1024px;
$largWidth: 1200px;
$tabletWidth: 767px;
$smartPhoneWidth: 479px;
$customWidth: 991px;
$XSmallWidth: 320px;
